/*CSS RESET*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

font-family: 'Open Sans', sans-serif;
}

/*Navigation Bar*/
/*1rem = 16px(default font size*/

nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

/*marging vs padding*/
/*margin is best used when creating space between element's border and its content*/

nav .nav-logo,nav .nav{
margin: 0.5rem;
/*change elements to inline elements*/
display: inline;
}

#intro {
/*Creates space between the contents of the intro section and its border 	*/

padding-left: 10%;
padding-right: 10%;
padding-top: 2rem;
padding-bottom: 3rem;
text-align: center;
/*pwede margin gamitin*/
/*margin-left: 10%;*/
}

#intro h2, #intro p {

margin-bottom: 1rem;
}

.button {
	font-weight: bold;
	background-color: #c2195d;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	color: white;

}
#succeed-info{ padding-left: 10%;
padding-right: 10%;
padding-top: 2rem;
padding-bottom: 3rem;
text-align: center;

}
#succeed-info h2 {
	margin-bottom:1rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
/*	allows the card to appear beside each other*/
display: inline-block;
/*aligns elements with the tallest element in line*/
/*used with tthe inline-block value*/
vertical-align: top;
/*allows for cards to have equal height that adjust with the content */
min-height: 175;
width: 30%;
/*create horizontal spacing */
margin-left: 0.5rem;
margin-right: 0.5rem;
}

#pre-footer div {
  padding: 1px;
  background-color: #002540;
  font-size: 1rem;
  color: white;
  padding-right: 10%;
 padding-top: 2rem;
 padding-bottom: 3rem;
  display: inline-block;
 



}



